body {
    background-color: #21546e;
    font-family: Verdana, sans-serif;
    color: white;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.header {
    margin-top: 50px;
}

.controls {
    margin-top: 40px;
}

.checkBox {
    margin-left: 40px;
}

.boardContainer {
    margin-top: 40px;
}

.row {
    font-size: 0px;
}

.row > div {
    display: inline-block;
    font-size: 90px;
    text-align: center;
    vertical-align: top;
    line-height: 100px;
    width: 100px;
    height: 100px;
}

.right {
    border-right: solid 5px white;
  }
  
  .bottom {
    border-bottom: solid 5px white;
  }
  
  .reset {
    margin-top: 100px;
  }